header{
    background-color: #1d1d1d;
    height: 7em;
    color: #FFFFFF;
    display: flex;
}

.nameLogo{
    display: flex;
}

header .motto{
    display: none;
}

header img{
    width: 150px;
}

h1{
    font-size: 3em;
    margin-left: 15px;
    margin-top: 22px;
}

@media (min-width: 751px){
    header{
        margin: 2% 10% 0% 10%;
        border-radius: 45px;
        align-items: center;
        /* width: 1250px; */
        width: 80%;
        display: flex;
        justify-content: space-between;
    }

    header .motto{
        display: inline;
        margin: 0 auto;
        padding: 0 20px 0 40px;
        text-align: center;
    }

    header p{
      
        font-size: 1.3em;
      
    }
}

@media (min-width: 1190px){
    header p{
        font-size: 1.5em;
    }
}