.container{
    padding: 10px 0px;
    display: flex;  
    align-items: center;
    justify-content: center; 
    background-color: #545454;
     gap : 10px;
}

.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}


.button-24:active {
  /* background-color: initial; */
  background-position: 0 0;
  color: #FFFFFF;
  border : thin solid #FFFFFF;
}


@media (min-width: 751px) {
    .container{
        gap: 10px;
        padding: 20px 0px 10px 0px;
    }
}