/* import React, { useState } from 'react';
import axios from 'axios';

interface SearchBarProps {
  onSearch: (results: any[]) => void;
}

const SearchBar = ({ onSearch }: SearchBarProps) => {
  const [searchTerm, setSearchTerm] = useState('');

  const handleSearch = async () => {
    try {
      const response = await axios.get(`https://api.themoviedb.org/3/search/movie`, {
        params: {
          api_key: 'YOUR_API_KEY',
          query: searchTerm,
        }
      });

      const results = response.data.results;
      onSearch(results);

    } catch (error) {
      console.error('Une erreur s\'est produite lors de la recherche :', error);
    }
  };

  return (
    <div>
      <input
        type="text"
        value={searchTerm}
        onChange={(e) => setSearchTerm(e.target.value)}
      />
      <button onClick={handleSearch}>Rechercher</button>
    </div>
  );
};

export default SearchBar; */

.searchResult{
  width: 30%;
}